{% extends "louvre/layout.html.twig" %}

{% block title %}Index{% endblock %}



{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
        <h1 class="">Votre achat a été réalisé avec succès, vous allez recevoir un mail dans quelques instants.</h1>
           <h2 class="">Récapitulatif de la commande :</h2>

                <dt>Propriétaire de la commande:</dt>
                <dd>{{ command.holder|upper }}</dd>
                <dt>Référence de la commande:</dt>
                <dd>{{ command.reference }}</dd>
                <dt>Mail:</dt>
                <dd>{{ command.mail }}</dd>
                <dt>Date de la commande:</dt>
                <dd>{{ command.datecommand|date('d-m-Y') }}</dd>
                <dt>Reste à payer:</dt>
                <dd>0 €</dd>
            </dl>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-10 mx-auto">
            <h2 class="">Liste des billets :</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Date de visite</th>
                        <th>Durée</th>
                        <th>Type billet</th>
                        <th>Tarif réduit</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                  {% for ticket in command.tickets %}
                        <tr>
                            <td>{{ ticket.lastname|upper }}</td>
                            <td>{{ ticket.firstname|capitalize }}</td>
                            <td>{{ ticket.visit|date('d-m-Y') }}</td>
                            <td>
                              {% if ticket.duration == 1 %}
                                <p>Journée</p>
                                {% else %}
                                <p>Demi-journée</p>
                              {% endif %}
                            </td>
                            <td>{{ ticket.type }}</td>
                            <td>
                              {% if ticket.offer == 1 %}
                                <p>Oui</p>
                                {% else %}
                                <p>Non</p>
                              {% endif %}
                            </td>
                            <td>{{ ticket.price }}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<a href="{{ path('homepage') }}" class="btn btn-secondary"> Retour accueil</a>
    
	
	
{% endblock %}
	